/* .btn {
  border-radius: 18px !important;
  font-size: 22px !important;
  background-color: #1F5B66;
} */

#NavBar-Profile {
  font-size: 22px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
}

.profile-follow {
  background-color: #1f5b66;
  color: white;
  border-color: none;
  border-radius: 18px;
}

.middleLink {
  padding-left: 10px;
  padding-right: 10px;
}

.aColor {
  color: black;
}
.aColor:active {
  color: black !important;
}

.inputSearch {
  width: 90%;
  font-size: 22px;
  border: none !important;
  border-bottom: 1px solid grey !important;
  margin-top: 1em;
  margin-bottom: 1em;
}

.buttons{
  background-color: #1f5b66;
  color: white;
  font-size: 20px !important;
}

.usernames {
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.usernamesRow {
  border: none !important;
}

/* .playfair{
  font-family: 'Playfair Display', serif;
  color: red;
} */

.second-word-formatting{
  font-family: 'Playfair Display', serif;
}

