body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white; }

.App {
  text-align: center; }
  .App .App-header {
    color: white; }
    .App .App-header .App-title {
      font-size: 1.5em; }
    .App .App-header .App-intro {
      font-size: large; }
  .App .Home p {
    font-size: 1.2em; }
  .App .navbar {
    border-bottom: 1px solid grey;
    margin-bottom: 22px;
    display: flex;
    justify-content: flex-start; }
  .App .travelisticon {
    height: 30%;
    width: 30%;
    margin-top: 20px; }
  .App .icon {
    height: 95%; }
  .App .h-icon {
    height: 95%;
    margin-right: 10%; }
  .App .up-icon {
    height: 95%;
    margin-left: 87%;
    margin-bottom: 80%; }
  .App .destinationbox {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    border-radius: 18px;
    margin: 1em; }
  .App .btn-add-trip {
    height: 140px;
    width: 140px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #257888; }
  .App .homeHeader {
    font-size: 22px;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .App .plusicon {
    height: 50%;
    width: 50%;
    background-color: #257888; }
  .App .link-to-detailed-trip {
    text-decoration: none;
    text-decoration-color: 'white';
    text-align: left;
    font-size: 17px;
    margin-top: 70%;
    margin-bottom: 10%;
    margin-left: 10%; }
  .App .homeboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    margin: 0 auto; }
  .App .allBoxes {
    display: flex;
    justify-content: center;
    margin-left: 4%; }
