// --------------------
// Definition of variables
$primary: #32c3ff;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

// .info.info-danger {
//   background-color: #e73f3f;
// }

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------


