.btn {
  border-radius: 18px !important;
}

.site-heading {
  font-size: 1.5em;
}

/* TripDetail component */

.TripDetailTipCardBody {
  background-color: rgba(110, 159, 168, 0.1);
  border: none !important;
  border-radius: 18px !important;
  margin-top: 0.1em;
}

.TripDetailTipCard {
  width: 90%;
  margin: 0 auto;
  border: none !important;
  border-radius: 18px !important;
}

.btn-trip-detail-search {
  width: 90%;
  height: 70px;
  color: white;
  text-decoration: none;
  margin: 0.5em;
  border-radius: 18px;
  background-color: #1F5B66;
}

.btn-trip-detail-dd {
  width: 90%;
  height: 70px;
  color: white;
  margin: 0.5em !important;
  background-color: #6E9FA8;
}

.btn-trip-detail-addTip {
  width: 90%;
  height: 70px;
  color: white;
  margin: 0.5em;
  background-color: #FAAD8D;
}

.btn-trip-detail-delete {
  width: 90%;
  height: 50px;
  color: black;
  margin-top: 0.5;
  background-color: white;
}

.hr-trip-detail {
  color: #1F5B66;
  width: 90%
}

/* TripDetailTip component */

.TripDetailTip {
  text-align: left;
  margin: 0.5em;
}

.btn-trip-detail-delete {
  width: 50%;
  color: black;
  border-radius: 18px;
}

/* addTip Component */

