body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white; }

.App {
  text-align: center; }
  .App .App-header {
    background-color: #32c3ff;
    padding: 20px;
    color: white; }
    .App .App-header a {
      color: white;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

.Home p {
  font-size: 1.2em; }
