.btn {
  border-radius: 18px !important;
  font-size: 22px !important;
}

.site-heading {
  font-size: 27px;
}

.important-header {
  font-size: 22px;
}

.detail-size {
  font-size: 17px;
}

/* TripDetail component */

.TripDetailTipCardBody {
  background-color: rgba(110, 159, 168, 0.1);
  border: none !important;
  border-radius: 18px !important;
  margin-top: 0.1em;
}

.TripDetailTipCard {
  width: 90%;
  margin: 0 auto;
  border: none !important;
  border-radius: 18px !important;
}

.btn-trip-detail-search {
  width: 90%;
  height: 70px;
  color: white;
  text-decoration: none;
  margin: 0.5em;
  background-color: #1F5B66;
  font-size: 22px;
}

.btn-trip-detail-dd {
  width: 90%;
  height: 70px;
  color: white;
  margin: 0.5em !important;
  background-color: #6E9FA8;
  font-size: 22px;
}

.btn-trip-detail-addTip {
  width: 90%;
  height: 70px;
  color: white;
  margin: 0.5em;
  background-color: #FAAD8D;
}

.btn-trip-detail-delete {
  color: black;
  background-color: white;
}

.hr-trip-detail {
  color: #1F5B66;
  width: 90%
}

/* TripDetailTip component */

.TripDetailTip {
  text-align: left;
  margin: 0.5em;
  font-size: 17px;
}

.btn-trip-detail-delete {
  color: black !important;
  border-radius: 18px;
  font-size: 22px !important;
  background-color: white !important;
  border: none !important;
}

.btn-trip-detail-done{
  color: white !important;
  border-radius: 18px;
  font-size: 22px !important;
  background-color:#6E9FA8 !important;
  border: none !important;
}

.doneBox {
  text-align: left;
}

.btn-trip-detail-edit {
  width: 100%;
  color: white;
  border-radius: 18px;
}

.trip-detail-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* addTip Component */

.btn-trip-detail-saveTip {
  width: 35%;
  background-color:  #1F5B66;
  color: white;
  font-size: 20px !important;
}

.btn-trip-detail-cancelTip {
  background-color: white;
  color: black;
  border: 1px solid #1F5B66;
}

.Modal {
border-radius: 18px !important;
}

.inputAddTip {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid grey !important;
  margin-bottom: 1em;
}

.inputCategoryTrip {
  margin-bottom: 0.5em;
}

.modalHeader {
  border-bottom: none !important;
}

.modalFooter {
  border-top: none !important;
}

/* SearchDetail component */

.btn-trip-detail-addFriendsTip {
  width: 90%;
  height: 50px;
  color: white;
  margin: 0.5em;
  background-color: #FAAD8D;
}

/* Login/Singup component */

.inputLogin {
  width: 90%;
  font-size: 22px;
  border: none !important;
  border-bottom: 1px solid grey !important;
  margin-bottom: 1em;
}

.login-signup-link {
  color:  #1F5B66;
}

.onboarding {
  width: 90%;
  height: 20vh;
  background-color: rgba(110, 159, 168, 0.1);
  border-radius: 18px;
  margin: 1em auto;
 color: black;
 display: flex;
 align-items: center;
justify-content: center;
font-family: 'Roboto', sans-serif;
}

.errormessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70px;
  color: white;
  margin: 0 auto;
  background-color: #F47645;
  border-radius: 18px !important;
  font-size: 22px !important;
}

.Login {
 margin-top: 25vh;
}

.Signup {
 margin-top: 25vh;
}

/* Search component */

.destinationboxSearch{
  display: flex;
  flex-direction: wrap;
  height: 140px;
  width: 140px;
  border-radius: 18px;
  margin: 1em;
  border: none !important;
}

.link-to-detailed-trip-search{
  text-decoration: none;
  text-decoration-color: 'white';
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  margin-top: 70%;
}

.homeboxesSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.create-trip-search {
 width: 90%;
 height: 40px;
 border: none;
 margin: 0 auto;
 text-align: left;
 background-color: white;
 color: black;
}

.link-to-user-profile {
  background-color: white;
  border: none;
  color:  #1F5B66;
  font-size: 22px;
}

.noFriendsYet-box {
  margin: 0 auto;
}

.stickyFooter {
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: white;
    padding: 0.6em;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0 !important;
    color: black;
    font-size: 22px;
    border-radius: 0;
}

.back-btn{
  background-color: white !important;
  color: none;
  border: none;
  width: 70px;
  height: 20%;
}

.back-btn-img{
  height: 30px;
}
